<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="eco-container">
                <form ng-submit="$ctrl.cargarColaborador()" ng-if="!$ctrl.cargado">
                    <div class="form-group">
                        <label for="nombreYapellido">Nombre y Apellido</label>
                        <input type="text" class="form-control" id="nombreYapellido" ng-model="$ctrl.nombre">
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" class="form-control" id="dni">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresar email">
                    </div>
                    <div class="form-group">
                        <label for="papel">Papel entregado</label>
                        <input type="text" class="form-control" id="papel" placeholder="Cantidad en Gramos" ng-model="$ctrl.cantidad">
                    </div>
                    <button type="submit" class="btn btn-primary" id="eco-btn">Listo</button>
                </form>
                <div class="eco-container" ng-if="$ctrl.cargado">
                    <h4>Wohoo! {{$ctrl.nombre}} ha entregado {{$ctrl.cantidad}} gramos de papel!!!</h4>
                    <h4>El total acumulado para este colaborador es: 5.200gr</h4>
                    <h4>El colaborador se ha hecho acreedor del siguiente premio: CUADERNO</h4>
                    <button class="btn btn-primary" id="eco-btn" ng-click="$ctrl.volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
