<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="eco-container">
                <form ng-submit="$ctrl.muestraColaborador()" ng-if="!$ctrl.mostrado">
                    <div class="form-group">
                        <label for="dni">Ingrese DNI</label>
                        <input type="text" class="form-control" id="dni" ng-model="$ctrl.dni">
                    </div>
                    <button type="submit" class="btn btn-primary" id="eco-btn">Listo</button>
                </form>
                <div class="eco-container" ng-if="$ctrl.mostrado">
                        <div class="form-group">
                            <label for="nombreYapellido">Nombre: Ramiro Morales</label>
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI: {{$ctrl.dni}}</label>
                        </div>
                        <div class="form-group">
                            <label for="nombreYapellido">Rol: Alumno</label>
                        </div>
                        <div class="form-group">
                            <label for="nombreYapellido">Cantidad Entregada: 930gr</label>
                        </div>
                    <button class="btn btn-primary" id="eco-btn" ng-click="$ctrl.volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>

